//disable scroll when modal open

body.is-visible {
    overflow: hidden;
}

.page-content {
    h1, h2, h3, h4, h5, h6 {
        color: $color-dark;
    }
    p {
        color: $body-font-color;
    }
}

figure {
    
    &.is-type-video {


        &:after {
            content: '';
            background: url(../img/icn-play-circle-wr.svg) no-repeat top center;
            position: absolute;
            background-size: cover;
            display: block;
            transition: all 0.3s ease-in-out;
        }
    
        
        height: auto;
        position: relative;

        &:after {
            width: 70px;
            height: 70px;
            top: 40%;
            left: 45%;

            @include media(max-width,768px) {                
                width: 50px;
                height: 50px;
            }
        }
            
        &.video_thumb {        
                width: 100px;

            &:before {
                background-color: rgba(0,0,0,0.5);
                content: '';
                width: 100%;
                position: absolute;
                background-size: cover;
                height: 100%;
            }

            &:after {
                width: 17px !important;
                height: 17px !important;
            }
        }
        

        &.is_played {
            &:after {
                display: none !important;
            }

            &:hover {
                &:after{                    
                    cursor: pointer;              
                    border: solid 1px #fff;
                    background-color: #fff;
                    box-shadow: 0 0 10px 5px rgba(255,255,255,0.6);
                    -moz-box-shadow: 0 0 10px 5px rgba(255,255,255,0.6);
                    -webkit-box-shadow: 0 0 10px 5px rgba(255,255,255,0.6);
                    -o-box-shadow: 0 0 10px 5px rgba(255,255,255,0.6);
                    border-radius:100px;
                }
            }
        }
    }
}

.page-content {
    .banner_checklist {
            
        .media_flex {
            .icon_wrapper {
                
                border: 2px solid $color-black;
            }

            .media_body {
                h3 {
                            
                    font-size: 14px !important;
                    font-weight: 600 !important;
                }
            }

        }
    }
}
.column_top {
    .mobile_only {
    
        @include media (max-width, 1023px){
            .column_bottom {    
                display: flex;
                justify-content: center;
            }
        }
    
        @include media (max-width, 375px) {
            .call_carol_col p{
                font-size: 10px !important;
            }
            .call_carol_num p{
                font-size: 36px !important;
            }
        }
    }

}


//seller tips video slide up

.video_container {
    color: $color-white;
    width: 490px;
    height: 165px;
    position: absolute;
    z-index: 999999;
    right: -110px;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
    transform: translate(-44%, 0%);
    bottom: 0;
    transition: all 0.3s ease;
    padding: 15px 15px;

    .video_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-transform: uppercase;
        padding: 10px 10px 20px;

        .video_header_title {
            font-size: 14px;
            font-weight: 600;
            
            &:not(span){                
                letter-spacing: 4px;
            }

            @include media(max-width, 1023px){
                font-weight: 400;
            }
        }

        .video_header_toggle {
            translate: all 0.5s ease;
            font-size: 11px;
            font-weight: 800;
            
            a {
                color: $color-white;
                span {
                    font-size: 14px;
                    padding-left: 10px;
                    color: $color-primary;
                }

                .video_toggle_open {
                    display: block;
                }
                        
                .video_toggle_close {
                    display: none;
                }
            }

        }
    }
    
    .video_body {

        max-height: 500px;
        overflow-y: auto;    

        &::-webkit-scrollbar {
            width: 3px;
        }
        
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: rgba(134, 134, 134, 1);
        }

        .video_lists_wrap {     
            height: 100%;
            a {
                color: $color-white;
            }
        }
        
        .video_item{
            cursor: pointer;
            padding: 10px 20px;
            border-bottom: 1px solid rgba(219, 50, 63, 0.1);

            &.media_flex {
                
                align-items: center;
            }

            .media_left {
                padding-right: 0;
                border-right: 3px solid $color-primary;
                margin-right: 20px;
                background-color: #000;
            }

            .media_body {
                span {
                    display: block;
                    font-weight: 400;

                    &.video_cat {
                        text-transform: uppercase;
                        font-size: 11px;
                    }
                    &.video_title {
                        text-transform: capitalize;
                        font-family: $heading-font-family;
                        font-size: 20px;
                    }

                }
            }
            &:hover {                
                background-color: rgba(0,0,0,0.3);
            }

        }

    }
    

    &.show_tab {
        height: auto;
        overflow: visible;

        .video_toggle_open {
            display: none!important;
        }
        .video_toggle_close {
            display: block!important;
        }
    }

    @include media(max-width,1023px){
        transform: translate(0%, 0%);
        width: 100%;
        position: relative;
        height: 100%;
        overflow: visible;
        background: rgba(22, 31, 30, 0.8);
        right: 0;
        z-index: 999;
    }
}    

.modal {
    position: absolute;
    z-index: 9999; /* 1 */
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;

    &.is-visible {
        visibility: visible;
        .modal-overlay {
            opacity: 1;
            visibility: visible;
            transition-delay: 0s;
          }
          .modal-transition {
            transform: translateY(0);
            opacity: 1;
          }
          
    }
    
    .modal-overlay {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.8);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0.3s, opacity 0.3s;
    }

    .modal-wrapper {
        position: fixed;
        z-index: 9999;
        top: 6em;
        right: 0;
        left: 0;
        width: 70%;
        margin: 0 auto;
        background-color: transparent;
        
            
        .modal-header {
            position: relative;
            background-color: transparent;
        }
        
        .modal-close {
            position: absolute;
            top: -60px;
            right: -110px; 
            padding: 1em;
            color: #fff;
            background: none;
            border: 0;

            span {
                font-size: 0;
            }

            &:before {
                content: "";
                position: absolute;
                -webkit-box-shadow: none;
                box-shadow: none;
                left: 14px;
                top: 24px;
                height: 3px;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                border-bottom: 0;
                width: 24px;
                border-top: 2px solid #DB323F;
            }


            &:after {
                content: "";
                position: absolute;
                width: 24px;
                left: 14px;
                top: 24px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                border-top: 2px solid #DB323F;
            }

        }
        
        .modal-transition {
            transition: all 0.3s 0.12s;
            transform: translateY(-10%);
            opacity: 0;
        }

        .modal-body {
            position: relative;
            height: 0;
            padding-bottom: 56.34%;
            overflow: hidden;

            iframe {
                height: 100%;
                position: absolute;
                top: 0;
                width: 100%;
                left: 0;
            }

        }
        
      }
}

@media(min-width: 1024px) and (max-width: 1600px){
    body.is-visible .video_container {
        transform: translate(-29%, 0%);
        bottom: -200px;
    }
}

/** listings **/


.listing_nav_header {  

    .banner_wrap {
        
        .banner_subtitle_title {
            text-transform: capitalize;
            font-size: 24px;
            font-weight: 800
        }

        @include media(max-width, 480px) {
            font-size: 12px;
        }

    }

}

.listings_nav_wrap {
    display: none;

    .listings_nav {
        .slick-arrow  {display: none !important;}

        .cat_item {
            //scroll-behavior: smooth;
            
            .cat_link {
                font-weight: 600;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 0.05em;
                cursor: pointer;
                color: $color-grey;
                transition: all 0.3s ease;
                border-bottom: none;
                @include media(max-width, 480px) {
                    font-size: 12px;
                }

            }

            &:hover,
            &:active{
                
                .cat_link {
                    color: $color-dark;
                    border-bottom: 4px solid $color-primary;
                }
            }
        }    

        &.slick-slider {
            padding-left: 30px;
            .slick-list{padding:0 20% 0 0;}
            .slick-track {
                margin: 0 !important;
            }
            .slick-slide {            
                padding-right: 20px;
            }
        }

    }
    @include media(max-width, 1023px) {
        display: block;
    }
}

.listings {
    margin-top: 45px;
}

.listing_container {    
    margin-bottom: 60px;

    h2 {
        text-transform: capitalize;
        font-style: italic;
        font-weight: 600;
        padding: 0 25px;

        @include media(min-width, 376px ){
            padding: 0;
        }
    }

    .listing_inner {

        margin-bottom: 50px;

        .listing_item {
            color: $color-white;

            @media(max-width: 768px) and (min-width: 376px) {
                padding: 0 !important;
            }

            @include media(min-width, 769px) {
                
                padding: 0 15px;
            }

            a {
                color: $color-white;
            }

            .listing-wrap {
                position: relative;

                .listing-widget-thumb {
                    figure {
                        margin: 0;
                        height: 300px;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit:contain;
                        }
                        @include media(max-width,1015px){
                            height: auto;
                        }
                    }
                }

                .listing-widget-details {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background: linear-gradient(90deg, rgba(22, 31, 30, 0.8) 0%, rgba(22, 31, 30, 0.616) 76.96%, rgba(22, 31, 30, 0) 100%);
                    
                    @include media(min-width,1016px){
                        border-left: 4px solid #DB323F;
                        left: -4px;
                        width: calc(100% + 4px);
                    }

                    .listing-other-info {                    
                        display: flex;
                        align-items: flex-end;            
                        flex-direction: row;
                    }

                    .listing-price-address {
                        padding: 15px 20px;

                        .listing-address {
                            font-size: 14px;
                            display: flex;
                            align-items: center;

                            span.loc_pin {
                                color: $color-white;                            
                                content: url(../img/icn-location-pin.svg);
                                margin-right: 10px;
                            }
                        }
                        .listing-price {                        
                            font-size: 20px;
                            padding-bottom: 6px;

                            span {                            
                                margin-right: 15px;
                            }
                        }
                    }
                    .listing-beds-baths-sqft {
                        display: flex;
                        background: #161F1E;
                        width: 100%;
                        justify-content: space-around;

                        .beds,
                        .baths,
                        .sq_ft {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            padding-top: 10px;
                            padding-bottom: 10px;

                            span {
                                font-size: 12px;
                                text-transform: uppercase;
                                flex-direction: column;
                                align-items: center;

                                &.listing-beds,
                                &.listing-baths,
                                &.listing-sqft {
                                    font-size: 16px;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    .listing-tag {
                        width: 100%;
                        height: 32px;
                        background: #AD131F;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                    
                        span {
                            font-size: 12px;
                            text-transform: uppercase;
                            font-weight: 700;
                            text-align: center;
                        }
                    }                
                    .listing-tag-desk{
                        display: flex;
                    }
                    
                    .listing-tag-mob{
                        display: none;
                    }
                    
                    @include media(max-width,1015px){
                        background: linear-gradient(90deg, rgba(22, 31, 30, 0.8) 0%, rgba(22, 31, 30, 0.8) 76.96%, rgba(22, 31, 30, 0.8) 100%);
                        position: relative;

                        .listing-tag-mob{
                            display: flex;
                        }
                        .listing-tag-desk{
                            display: none;
                        }
                        .listing-other-info {                    
                            flex-direction: column;
                        }

                        .listing-price-address {
                            padding: 15px 25px;
                        }
                    }

                }
            }

        }

    }

}

.buyers_cnt {
    display: flex;
    position: relative;
    flex-flow: nowrap;
    white-space: nowrap;
    align-items: center;
    .wp-block-group__inner-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;

        p {
            font-size: 12px;
            text-transform: uppercase;
        }
    
    }

    &:before,
    &:after { 
        content: "";
        border-top: 1px solid #999;
    }

    &:before {
        width: 100%;
    }

    &:after {
        width: 30%;
    }

    @include media (max-width, 767px){
        margin: 30px 0;
        justify-content: center;

        &:before,
        &:after { 
            display: none;
        }

        h2 {
            font-size: 48px;
        }
    }
}

// listings single
.single-listings {

    .hero_banner_wrap{
        &:before {
            background: $color-white;
        }
    }

    .listing_single_wrap {
        .listing_sticky_info {
            
            position: fixed;
            top: calc(28px + 120px);
            left: 0;
            right: 0;
            z-index: 5;

            @include media(max-width,1023px){
                display: none;
            }
        }

        .listing_gallery_wrap {
            

            .listing_gallery{
                .slide-nav {
                    display: flex;
                }
                .slider_for {                
                    margin-bottom: 10px;

                    .gallery_item {
                        height: 550px;
                    }
                    @media (max-width: 1600px) and (min-width: 1024px){
                        .gallery_item {
                            height: 400px;
                        }
                        
                        &.slick-slider {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                    @include media (max-width,1023px){
                        .gallery_item {
                            height: 100%;
                        }
                        &.slick-slider {
                            padding-left: 0;
                            padding-right: 0;
                        }
                    }
                }
                .slider_nav_wrap {
                    padding-left: 50px;
                    padding-right: 50px;

                    .slider_nav {                
                        .gallery_item {
                            
                            .gallery_img{
                                margin: 10px;
                            }
                        }

                        .slick-arrow{

                            &.arrow_prev,
                            &.arrow_next {
                                font-size: 0;
                                opacity: 1;
                                background-size: 12px 10px;
                                background-repeat: no-repeat;
                                background-position: center;

                            }

                            &.arrow_prev {
                                left: 15px;
                                background-image: url(../img/icn-arrow-lr.svg);
                            }
                            &.arrow_next {
                                right: 15px;
                                background-image: url(../img/icn-arrow-rr.svg);
                            }

                        }

                    }
                    
                    @include media(max-width, 1023px){
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }

            @include media(min-width, 1024px){
                position: fixed;
                right: -50px;
                z-index: 5;
            }

        }


        &.is-stuck {
    
        }

    }

}
.listing_single_wrap {
    
    .coming_soon_red {
        font-weight: 600;
        letter-spacing: 0.02em;
        color: #DB323F;
    }
    .address {
        color: $color-dark;
        font-family: $heading-font-family;
    }

    .text_wrap {

        &:before {
            margin-right: 16px;
        }

        &.info_bed {
            &:before {
                content: url(../img/icn-bed.png);
            }
        }

        &.info_bath {
            &:before {
                content: url(../img/icn-bath.png);
            }
        }

        &.info_sq_ft {
            &:before {
                content: url(../img/icn-sq-ft.png);
            }
        }

        &.info_car {
            &:before {
                content: url(../img/icn-garage.png);
            }
        }

        &.info_price{ 
            font-weight: 700;
            color: #DB323F;
        }

    }
    
    .listing_sticky_info {
        background: #f8f8f8;
        padding: 12px 0;

        .grid-container {
            padding: 0 20px;
        }

        .cols3-s1 {            
            flex-wrap: nowrap;
            align-items: center;
        }

        .sticky_info {

            text-transform: capitalize;
            line-height: 1.6;

            &_left {
                .coming_soon_red {
                    font-size: 12px;
                }
                .address {
                    font-size: 18px;
                    display: flex;
                    &:before {
                        content: url(../img/icn-marker-tiny.png);
                        margin-right: 12px;
                    }
                }
            }
            &_right {      

                display:flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-end;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.2;

                &.info_price { 
                    font-size: 18px;
                }
            }
        }
    }

}

.listing_content {

    padding: 125px 0 65px;

    @include media (max-width, 1023px){
        padding-top: 0 !important;

        .grid-container {
            padding: 0 !important;
        }
    }


    .grid-container {
        padding: 20px 0;
    }

    .content_left {
        width: 30%;
        hr {
            margin-left: -20px;
        }
        @include media (max-width, 1023px){
            width: 100%;
            hr {
                margin-left: 0;
            }

        }
    }
    .content_right {
        width: 68%;
        @include media (max-width, 1023px){
            width: 100%;

        }
    }

    .content_info {
        padding-left: 20px;  
        display: flex;

        &.content_info_head {

            @include media (max-width, 1023px){
                flex-direction: column;
            }

        }
        
        @include media (max-width, 1023px){
            padding-left: 0;
            
            .content_left {

                padding-left: 30px !important;
                padding-right: 30px !important;
            }
        }

    }
    .content_info_inner{
        &:not(.info_head):not(.info_desc) {
            display: flex;
        }

        .cols {
            width: 50%;
            .text_wrap{
                margin-bottom: 30px;
            }
        }

        &.info_head {
            display: block;
            line-height: 1.2;

            div {
                margin-bottom: 20px;
            }

            .coming_soon_red {
                font-size: 14px;
            }

            .address {
                font-size: 40px;
            }

            .info_price {
                font-size: 24px;
            }

        }

        &.info_main {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        &.info_btn {
            padding-bottom: 30px;
            align-items: center;
            
            .schedule_btn {
                font-size:16px;
            }

            .more_btn {
                .button{
                    font-size: 12px!important;
                    padding: 10px 0;
                    color: #555;
                    font-weight: 800;
                    min-width: 150px !important;
                    margin-bottom: 0;
                    &:after{
                        margin-left: 10px;
                        content: url(../img/icn-arrow-down-r.png);
                    }
                }
            }
            @include media(max-width,780px){                
                flex-direction: column;
                .more_btn {
                    display: none;
                }
            }
        }

        &.info_addtl {
            
            font-weight: 400;
            padding-top: 30px;
            margin-bottom: 16px;

            .row {
                padding-bottom: 16px;
            }

            
            @include media(max-width,375px){                
                flex-direction: column;
            }
            
        }

        &.info_desc {
            display: block;
            padding-top: 10px;
            padding-bottom: 10px;
            .info_value {
                font-size: 18px;

            }
        }

        .info_label {
            text-transform: uppercase;
            font-size: 11px;
            color: $color-dark;
        }

        .info_value {
            font-size: 16px;
            color: $color-grey;
        }

        &.info_form {
            margin-top: 10px;
            .sec_form {
                background-color: $color-dark;
                padding:30px 17px 10px;

                h2 {
                    font-size: 18px;
                    font-weight: 700;
                    color: $color-white;
                    font-family: $body-font-family;
                    text-align: center;
                }

                p{
                    font-size: 12px;
                }

                .ginput_container_name {
                    display: flex;
                    .name_first {
                        padding-right: 1%;
                    }
                    .name_last {
                        padding-left: 1%;
                    }
                }

                .gform_body {
                    margin-bottom: 20px;
                }
            }
        }
        
    }
}

// happy clients
.happy_clients_section {
    
    position: relative;

    h3 {            
        line-height: 1.2;
    }

    p {
        font-size: 20px;
        overflow-y: auto;
        height: 250px;
        margin-bottom: 70px;

        &::-webkit-scrollbar {
            width: 3px;
        }
        
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: rgba(134, 134, 134, 1);
        }
    }

    .slick-slider {
        padding-left: 0;
        padding-right: 0;
    }

    .happy_client_img {

        position: relative; 
        z-index: 1;
        text-align: right;
        width: 90%;
        margin: 0;
        right: 0;

        &:before{
            content: '';
            position:absolute;
            top: 50px;
            right: -42px;
            background-color: $color-dark;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        @include media (max-width,1023px){
            width: 100%;    

            &:before{
                display:none;
            }

            img {
                margin: 0 auto;
            }
        }
    }

    .slick_item {
        display: flex !important;
        flex-flow: row wrap;
        align-items: flex-start;

        .copy {
            padding:30px 0;
        }

        @include media(max-width, 1023px){
               
            .column_invert_left {
                order: 2;
            }

            .column_invert_right {
                order: 1;
            }
        }
    }

    button {

        &.slick-arrow {            
            background: none;
            bottom: 0;
            top: auto;
            left: 10px;
            z-index: 99;

            &:before {
                color: $color-dark;
                font-size: 30px;
            }

            &.slick-next {
                margin-left: 50px;

                &:before {
                    content: "\01F862";
                }
            }

            &.slick-prev {
                
                &:before {
                    content: "\01F860";
                }
            }
            

            @include media (max-width, 1023px ){
                margin: 0 auto !important;

                &:before {
                    color: $color-white;
                }

                &.slick-prev {
                    left: 45%;
                }
                
                &.slick-next {
                    right: -10%;
                }
            }

            

            @include media (max-width, 480px ){
                
                bottom: 0;

                &.slick-prev {
                    left: 35%;
                }
                
                &.slick-next {
                    right: -12%;
                }
            }

            @include media (max-width, 1490px ){
                left: 30px;
            }

        }
       
    }

    &:after {        
        content: "";
        position: absolute;
        left: 18%;
        bottom: 30px;
        width: 28.5%;
        background: #C4C4C4;
        height: 1px;

        
        @include media (max-width, 1490px ){
            left: 10%;
            bottom: 27px;
            width: 84%;
        }

    }
    @include media (max-width,1023px){
        width: 100%;
        background-color: $color-dark;
        padding-top: 40px;
        padding-bottom: 40px;    
        h3,
        p {
            color: $color-white
        }  
        &:after {   
            display: none;
        }  
    }
}

.happy_free_report {
    padding: 90px 0;

    .sec_form {
        padding-top: 0 !important;
    }
}

.testimonial_greview_item {
    
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12% 30px;
    border: 1px solid #E5E5E5;

    .testimonial_body {
        h3 {
            font-size: 14px;
            font-style: italic;
            line-height: 1.5;
            color: $color-grey;
            text-align: center;
        }
    }
    .testimonial_info {

        display:flex;
        align-items: center;
        
        .testimonial_name {
            font-weight: 800;
            color: $color-dark;
            font-size: 16px;
            text-transform: capitalize;
        }
        span.border {
            padding: 0 15px;
            &::before {
                border-right: 1px solid #E1E1E1;
                content:'';
                height: 100%;
            }
        }

        .field_type-star_rating_field {
            ul.star-rating {
                
                    margin: 0 auto;

                li:last-child {
                    margin-right: 5px !important;
                }
            }
        }

        @include media(max-width,480px){            
            align-items: center;
            flex-direction: column;
            span.border {
                display:none;
            }
        }
    }

    .testimonial_link {
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.disabled_header,
.post-type-archive-listings {
    .page-content {
        
        padding: 60px 0;
    }
}

//podcasts
.podcast_iframe {
    width: 100%;
}

//vendors 

.vendors_page {


    @include media (max-width, 1023px){

        .hero_banner_wrap {

            .hero_banner {
                display: flex;
                flex-direction: column;

                figure.bg {
                    order: 2;
                }
                .grid-container{
                    order: 1;
                }

                .banner_wrap {
                    flex-direction: column !important;
                }
                
                .banner_right {
                    display: block !important;
                    width: 100% !important;
                    padding: 0 30px;
                }
        
            }
        }
    }
}
.vendors_container {
    
    .cols2-s3 {
        padding: 0;
    }

    h4.vendor_cat_title {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: $color-dark;
        letter-spacing: 0.05em;
    }

    .vendors_nav {
        background: #F8F8F8;
        padding: 20px 30px;
        

        .vendors_category {
            margin-bottom: 12px;
            cursor: pointer;
            display: flex;
            align-items: baseline;

            a {
                font-weight: 600;
                letter-spacing: 0.05em;
                font-size: 12px;
                text-transform: uppercase;
                color: $color-grey;

                &:hover,
                &:focus,
                &:active {
                    color: $color-dark;
                }
            }

            &:before {
                background-image: url(../img/icn-arrow-rdr.svg);
                content: "";
                background-size: 20px 10px;
                width: 20px;
                height: 10px;
                background-repeat: no-repeat;
                display: inline-block;
                margin-right: 12px;

                @include media (max-width,1023px){
                    display: none;
                }
            }
        }


        @include media (max-width,1023px){
            display: flex; 
            flex-wrap: wrap;
            padding: 0;
            background: transparent;
            margin-bottom: 50px;
            
            .slick-arrow  {display: none !important;}

            .vendors_category {
                
                .a {
                    font-weight: 600;
                    font-size: 16px;
                    text-transform: uppercase;
                    letter-spacing: 0.05em;
                    cursor: pointer;
                    color: $color-grey;
                    transition: all 0.3s ease;
                    border-bottom: none;
                    @include media(max-width, 480px) {
                        font-size: 12px;
                    }

                }

                &:hover,
                &:active{
                    
                    a {
                        color: $color-dark;
                        border-bottom: 4px solid $color-primary;
                    }
                }
            }    

            &.slick-slider {
                padding-left: 0;
                .slick-list{padding:0 20% 0 0;}
                .slick-track {
                    margin: 0 !important;
                }
                .slick-slide {            
                    padding-right: 20px;
                }
            }
        }
    }

    .vendors_list {

        .vendor_wrap {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 60px;

            .vendor_inner {
                width: 330px;
                border: 1px solid #E5E5E5;
                margin-right: 15px;
                margin-bottom: 20px;

                hr{
                    margin: 0;
                    border-bottom: 1px solid #E5E5E5;
                }

                .vendor_name,
                .vendor_logo {
                    padding: 15px 30px;
                }

                .vendor_logo {

                    figure{
                        display: flex;
                        justify-content: center;
                        max-width: 100%;
                        height: 150px;
                        flex-wrap: nowrap;
                        align-items: center;
                        
                        img {
                            max-height: 100%;
                        }
                    }
                }

                .vendor_name {

                    min-height: 140px;
                    position: relative;

                    h3 {
                        font-size: 24px;
                    }

                    a {
                        font-weight: 800;
                        font-size: 14px;
                        text-transform: uppercase;
                        color: $color-dark;
                        position: absolute;
                        bottom: 20px;
    
                        &:after {
                            background-image: url(../img/icn-arrow-rdr.svg);
                            content: "";
                            background-size: 20px 10px;
                            width: 20px;
                            height: 10px;
                            background-repeat: no-repeat;
                            display: inline-block;
                            margin-left: 10px;
                        }

                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
        }

    }

}

//single vendor

.vendors_wrapper {
    
    .vendors_header {

        .back_to_vendors_list {
            display: flex;
            margin-bottom: 30px;
            align-items: center;
    
            figure {
                margin-right: 10px;
            }
    
            span {
                font-size: 12px;
                font-weight: 800;
                text-transform: uppercase;
                color: $color-dark;
    
                &:hover {
                    color: $color-primary;
                }
            }
        }    
        .vendors_name {
            color: $color-dark;
            font-size: 40px;
            font-weight: 400;
            line-height: 1.4;
            margin: 40px 0;
        }
        
    }

    .vendors_contact_wrapper {
        display: flex;
        margin: 30px 0;

        .vendor_logo,
        .vendor_contact {
            width: 50%;
        }

        .vendor_contact {

            .vendor_owner {
                font-family: $body-font-family;
                color: $color-dark;
                font-size: 20px;
                font-weight: 700;
                line-height: 1.2;
                text-transform: capitalize;      
                margin-bottom: 25px;          
            }

            .text_wrap {
                display: flex;
                align-items: center;
                margin-bottom: 16px;

                .media_left {
                    margin-right: 10px;
                    
                    figure {
                        width: 16px;

                        .icn-map-pin {
                            width: 16px;
                        }
                    }
                }

                .media_right {
                    p{
                        font-size: 16px;
                        font-weight: 400;
                        color: $color-dark;
                        line-height: 1.2;
                        margin-bottom: 0;
                    }
                }
            }
        }

    }

    .vendor_video_wrap {
        padding: 40px 0;
        iframe {
            border: 0;
            width: 100%;
        }
    }

    .vendor_audio_wrap {

        margin-bottom: 30px;
        background: $color-primary;
        padding: 20px;

        h3 {
            color: $color-white;
            text-align: center;
        }

        .mejs-container,
        .mejs-container .mejs-controls, 
        .mejs-embed, 
        .mejs-embed body {

            background: $color-primary;
        }

    }

    .vendor_content {
        margin-bottom: 60px;

        .section_subtitle,
        p {
            color: $color-dark;
            
            &.icon_list {
                img {
                    float: left;
                    margin-right: 5px;
                }
            }
        }

        p.vendor_excerpt {
            margin-bottom: 60px;
            font-size: 20px;
            line-height: 1.4;
        }

        .section_subtitle {
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.1em;
        }

        @media (min-width: 600px) and (max-width: 781px){
            .wp-block-column:nth-child(2n) {
                margin-left: 0em !important;
            }
        }
    }

    .image_badge_bottom {
        text-align: center;
    }


    .sticky_form {
        position: fixed;
        right: 0;
        width: 47%;
        z-index: 5;
        margin-top: -40px;
        background-color: #F8F8F8;

        .sec_form {
            width: 75%;
            opacity: 1;
            background-color: transparent;
            padding: 40px;
            
            h4,
            p {
                color: $color-dark;
            }

            h4 {
                font-size: 22px;
                font-weight: 700;
                line-height: 1.2;
                text-transform: capitalize;
            }

            p {
                font-size: 12px;
            }

            .wp-block-group__inner-container {
                width: 80%;
                margin: 0;
            }
        }

        @include media(max-width, 1023px){
            
            .sec_form {
                width: 100%;
            }
        }

        @include media(max-width, 768px){
            width: 100%;
            position: relative;
            margin-top: 0;

            .sec_form {
                .wp-block-group__inner-container {
                    width: 100%;
                }
            }
        }
    }

    @include media(max-width,1023px){
        .vendors_contact_wrapper {
            flex-direction: column;
            margin: 0;

            .vendor_logo,
            .vendor_contact {
                width: 100%;
            }

            .vendor_logo {   
                margin-bottom: 30px;

            }
        }
        .vendor_video_wrap {
            padding: 0;
        }
    }

    @include media(max-width,768px){
        .vendors_contact_wrapper {
            .vendor_logo {   
                text-align: center;

            }
        }
    }

    @include media(max-width, 1420px){            

        .vendors_info_left,
        .vendors_header {
            padding-right: 30px !important;
            padding-left: 30px !important;
        }
    }
    
}


        
.icn_checkbox_list {
    ul {
       
        list-style-image: url(../img/icn-check-circle.png);
    }
}
