figure {

    &.is-type-video {
    width: 100%;
    height: auto;
        position: relative;
        &:after {
            content: '';
            background: url(../img/icn-play-circle-wr.svg) no-repeat top center;
            width: 70px;
            height: 70px;
            position: absolute;
            background-size: cover;
            top: 40%;
            left: 45%;
            display: block;
            transition: all 0.3s ease-in-out;
        }
        &.is_played {
            &:after {
                display: none !important;
            }

            &:hover {
                &:after{                    
                    cursor: pointer;              
                    border: solid 1px #fff;
                    background-color: #fff;
                    box-shadow: 0 0 10px 5px rgba(255,255,255,0.6);
                    -moz-box-shadow: 0 0 10px 5px rgba(255,255,255,0.6);
                    -webkit-box-shadow: 0 0 10px 5px rgba(255,255,255,0.6);
                    -o-box-shadow: 0 0 10px 5px rgba(255,255,255,0.6);
                    border-radius:100px;
                }
            }
        }
    }
}

