


/* HERO STYLE 4 for page template */
.hero-s4 {
	position: relative;
	margin-top: -110px;

	.hero_wrap {
		min-height: 780px;
	}

	.hero-block {
		position: relative;	
		padding: 0 100px;
	
		.bg {
			position: absolute;
			left: 0;
			right: 0;
			top:30px;
			bottom: 0;
			z-index: -1;

			&:before {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				top: 0;
				right: 0;
				//background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.58) 32%, $color-white);
			}
			
			img {
				height: 100%;
				width: 100%;
				object-fit:cover;
			}

		}

		figure {

			&.right_img {				
				position: absolute;
				bottom: 0;
				z-index: -1;

				@include media(max-width,1023px) {					
					left: 0;
					right: 0;
				}
			}

			&.right_text {
				.small {
					
					@include media(max-width,375px){
						margin-bottom: 0;
					}

				}
			}

		}

		.row_column_flex {
			display: flex;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: center;
			align-items: flex-end;

			.row_col {
				display: flex;
				justify-content: center;
				flex-direction: column;
				flex-wrap: wrap;
				align-items: center;
				align-content: center;
			}
			
			.row_col_3 {				
				width: 33.33%;
			}
			.row_col_2 {				
				width: 50%;
			}
		}

		.text_wrap {
			color: $color-white;

			h2 {
				font-size: 32px;
				font-weight: 400;

				@include media (max-width, 480px){
					font-size: 16px;
				}
			}

			h3{
				font-size: 22px;
				font-weight: 400;

				@include media (max-width, 480px){
					font-size: 12px;
				}
			}
			
			p {
				font-size: 20px;
				font-weight: 300;
				line-height: 24px;

				&.small {
					font-size: 10px;
					line-height: 1.3;
				}

			}
		}
		
		&_desktop{

			@include media(max-width,1023px){
				display: none;
			}

		}

		&_mobile{
			
			display: none;

			@include media(max-width,1023px){
				display: block;
			}

		}

		@include media (max-width,1600px){			
			padding: 0 30px;
		}	

	
	}

	@include media(max-width,1023px){

		&.hero_for_pages {
	
			margin-top: 0;
			
			.hero-block_mobile {
	
				.hero-block {
					padding: 0;
				}
	
			}
		}

	}


	.hero-caption {
		padding-top: 300px;
		padding-bottom: 35px;
		position: relative;
		color:$color-white;
		h5 {
			line-height: 1.4;
		}
		h6 {
			font-weight: 400;
		}
		p {
			font-size: 20px;
			font-weight: 300;
		}
		.grid-x {
			//min-height: calc(100vh - 350px);
		}
		h1 {
			font-size: 60px;
		}


	}

	.hero-logos {
		position: relative;
		padding: 15px 0; 
		ul {
			margin: 0;
			padding: 0;
			text-align: center;

			li {
				list-style: none;
				display: inline-block;
				padding: 10px 60px;
				max-width: calc(20% - 4px);
			}
		}
	}
	
	.hero_mobile_bottom {
		padding: 30px 0;

		.banner_checklist {			
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: center;
			align-content: flex-start;
			padding: 40px;

			.text_wrap{
				color: $color-dark;

				h3 {
					font-size: 20px !important;
					line-height: 1.4;				
					
					@include media(max-width, 375px){
						font-size: 14px !important;
					}							
					
					@include media(max-width, 1023px){
						color: $color-dark;
					}		
					
					@include media(min-width, 1024px){
						color: $color-white;
					}
				}

			}
			.icon_wrapper {
				border: 2px solid $color-dark;
			}

			.media_flex {
				padding-right: 0;
			}
		}
		
		
		@include media(max-width, 375px){

			.sec_body {
				padding-left: 30px;
				padding-right: 50px;
			}

		}
		
		@include media(max-width, 480px){

			.sec_body {
				padding-right: 40px;
				padding-left: 10px;
			}

		}
	}

	@include media(max-width, 1280px) {
		.hero-caption {
			font-size: 18px;

			h1 {
				font-size: 45px;
			}
		}

		.hero-logos {
			ul {
				li {
					padding: 10px 30px;
				}
			}
		}
	}

	@include media(max-width, 1023px) {
		padding: 0;

		.hero-caption {
			padding-top: 600px;
			height: auto;
    		padding-bottom: 0;
		}
	}
	
	@include media(max-width, 639px) {
		.hero-caption {
			font-size: 16px;
			h1 {
				font-size: 32px;
			}
		}

		.hero-logos {
			ul {
				li {
					max-width: calc(33% - 4px);
				}
			}
		}
	}
	
	
	@include media(max-width, 480px) {
		.hero-caption {
			height: auto;
			padding-top: 330px;
    		padding-bottom: 0;
		}
		.hero-logos {
			ul {
				li {
					padding:10px;
				}
			}
		}
	}

	@include media(max-width, 782px){
		
		margin-top: -120px;

		&.hero_for_pages{
			margin-top: 0;
		}
	}

	@include media(min-width, 782px){
		
		margin-top: -180px;

	}
	

	.sec_body {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
	

}


//fullheight
.hero_banner_wrap{

	&.full_height,
	&.medium_height {

		.hero_banner {
			margin-top: -78px;

			.banner_wrap {
				padding: 0;
				.banner_paragraph {
					h3{
						color: $color-white;
					}
					p {
						color: #858689;	
					}
					small {
						align-items: center;
						display: flex;
						img {
							margin-left: 8px;
						}
		
					}
				}
				.banner_subtitle_text {
					color: $color-white;
					h3{
						color: $color-white;
					}
				}
				.banner_subtitle_body {
					h1{
						color: $color-white;
					}
				}

			}

			@include media(max-width,375px){
				.banner_wrap {
					justify-content: center;
				}
				.banner_style_2 {
					
					display: flex;
					flex-direction: column;
					align-items: center;
				}
				.banner_subtitle_title {
					font-size: 24px;
					margin-bottom: 0;
				}
				.banner_paragraph {
					h3 {
						font-size: 16px;
					}
					p {
						font-size: 12px;
						color: rgba(133, 134, 137, 1);
					}
				}
				
				.banner_subtitle_text {
					letter-spacing: 0.1em;
					
				}
			}

			@include media(max-width,1023px){

				figure.bg{
					position: absolute;
					left: 0;
					right: 0; 
					top: 0;
					bottom: 0;
					z-index: -1;
					height: auto;
				}

			}
			@include media (min-width, 1024px){
				.banner_wrap,
				.banner_subtitle_text {
					color: $color-white;
				}
				
				.banner_subtitle_text {
					color: $color-white;
					
				}
			}

		}
	}

}

// other pages
.hero_banner_wrap {
	margin-top: -180px;
	position: relative;

	&:before{
		content: '';		
		background: linear-gradient(180deg, rgba(22, 31, 30, 0.8) 0%, rgba(22, 31, 30, 0.616) 30%, rgba(22, 31, 30, 0) 100%);
		width: 100%;
		height: 100%; 
		position: absolute;
		top: 0;
	}

	@include media(max-width,1023px){
		&:before{
			display: none;
		}
	}

	.hero_banner {
		
		padding: 0 30px;

		figure {
			&.bg {
		
				position: absolute;
				left: 0;
				right: 0;
				top: 30px;
				bottom: 0;
				z-index: -1;
				background-color: $color-black;
				
				@include media (max-width,1023px) {							
					position: relative;
					left: 0;
					right: 0;
					top: 0;
					height: 300px;
				}

				@include media (max-width,480px) {							
					position: relative;
					left: 0;
					right: 0;
					top: 0;
					height: 200px;
				}

				img {
					height: 100%;
					width: 100%;
					-o-object-fit: cover;
					object-fit: cover;
				}
			
			}
		}
		.banner_wrap {
			padding-top: 400px;
			padding-bottom: 60px;
			color: #fff;
			display: flex;
			align-items: flex-end;
			flex-direction: row;
			justify-content: flex-start;
			

			.small {
				font-size:14px;
				color: rgba(255,255,255,0.8);
			}

			.text-quote {
				color: #999;
			}

			.text-italic {
				font-style: italic;
			}

			@include media(max-width,1023px){
					
				.small,
				.text-quote {
					color: #777777;
				}
				.text-italic {
					font-style: normal;
				}
			}

			.banner_left,
			.banner_right {
				position: relative;
			}
			.banner_left{
				width: 60%;
				@include media(max-width,1023px){
					padding-right: 0;	
					
					&.banner_style_2 {
						/*padding-right: 8em;*/
		
					}
				}
				
			}

			.banner_right {
				
				width: 40%;

				figure {
					padding-bottom: 0;
					position: absolute;
					bottom: -60px;

					&.bg {
				
						position: absolute;
						left: 0;
						right: 0;
						top: auto;
						bottom: -80px;
						z-index: -1;						
					}
					
				}
				h5 {
					font-family: $body-font-family;
					font-size: 22px;
					font-weight: 700;
					line-height: 27px;
					text-align: center;
					margin-bottom: 30px;

				}
			}

			.banner_subtitle_title {
				text-transform: capitalize;
			}
			
			@include media (max-width,1023px) {						
				color: $color-dark;
				height: auto;
				padding: 30px 0 0 0;

				.banner_right {
					display: none;
				}
				.banner_left {
					width: 100%;
				}
				
				.banner_paragraph {
					color: $body-font-color;
					p {
						margin-bottom: 0px;
					}
				}
			}
			@include media (min-width,1024px) {						
				
				.banner_subtitle_title {
					color: $color-white !important;
				}
			}
		}
		
		@include media (max-width, 1023px) {
			padding: 0 !important;
		}
		
	}

	
	@include media (max-width,1023px) {		
		margin-top: 0
	}
	
}

.banner_contact {
	display: flex;
	flex-direction: row;
	.info_box {				
		color: $color-white;
		padding: 6% 8%;
		cursor: pointer;
		.icon_wrapper {
			bottom: auto !important;

			img {
				width: 31px;
			}
			
			&::before {						
				content: url(../img/icn-phone-darkred.svg);
			}	
		}

		.address {
			font-family: $body-font-family;
			font-size: 11px;
			font-weight: 700;
			line-height: 13px;
		}
		&:hover {
			background: $color-primary;
			
			.icon_wrapper {
				
				&::before {						
					content: url(../img/icn-phone-white-large.svg);
				}	
			}
		}
	}
}

//for home page
.home {

}


.hero_wrap, 
.grid-container, 
.banner_columns {
	height: 100%;
}

.banner_title {	
	font-family: $heading-font-family;
	font-size: 60px;
	font-weight: 600;
	line-height: 1;
	text-transform: capitalize;		
	
	@include media (max-width, 1023px){
		font-size: 24px;
	}
}

.banner_columns {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: flex-end;
	align-items: flex-end;	

	.banner_col_1{
		width: 60%;
		padding-bottom: 50px;
	}
	.banner_col_2{
		width: 40%;
	}
}

.banner_checklist {
	display:flex; //check-icon
	text-transform: capitalize;

	.text_wrap{
		h3 {
			font-family: $body-font-family;
			font-size: 13px;
			font-weight: lighter;
			line-height: 17px;
			letter-spacing: 0.02em;
			color: $color-white;
					
			@include media(max-width, 1023px){
				color: $color-dark;
				font-weight: 600 !important;
			}		

		}
	}

	.media_flex {
		.icon_wrapper {
			
			width: 25px;
			height: 25px;
			border: 2px solid $color-white;
			box-sizing: border-box;
			border-radius:50px; 
			align-items: center;
			display: flex;
			align-content: center;

			img {
				width: 12px;
				margin: 0 auto;
			}	
					
			@include media(max-width, 1023px){
				border: 2px solid #000;
			}		
			
		}
		@include media (min-width, 1024px){
			
			padding-right: 45px;
		}
	}
	@include media(max-width, 1023px){
		flex-direction: column;
	}

}

.banner_style_1 {
	
	.banner_subtitle_text {
		text-transform: capitalize;
		font-family: "proxima-nova";
		font-size: 0;
		font-style: normal;
		color: $color-white;
		position: relative;
		padding: 26px 34px;
		z-index: 1;
		text-transform: uppercase;

		span.banner_subtitle_text_2 {
			font-size: 12px;
			letter-spacing: 3;
		}

		&:before {
			content: attr(data-subtitle);
			font-family: "proxima-nova";
			font-size: 24px;
			background-color:rgba(26, 23, 78, 0.8);
			padding-right: 30px;
			padding-left: 30px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			font-weight: 700;
			line-height: 29px;
			
			display: flex;
			align-content: center;
			justify-content: center;
			flex-direction: column;
			align-items: center;

			@include media (max-width, 768px){
				font-size: 12px;
			}

		}

		&:after {
			content: url('../../resources/img/polygon-img.png');
			height: 80px;
			width: 35px;
			border-radius: 0px;	
			z-index: -2;
			position: absolute;
			top:0;
			left:0;
		}
		
		@include media (max-width, 1023px){
			
			width: 100%;	

			&:before {
				width: 100%;
				font-size: 18px;
			}
		}
		
		@include media (max-width, 480px){
			
			text-align: center;
			width: 100%;
			
		}

		@include media (max-width, 375px){
			padding: 16px 34px;

			&:before{
				font-size: 14px;
			}
			
			&:after {
				content: url('../../resources/img/polygon-small.png');
				left: -6px;
			}
		}
	}

	.banner_subtitle_body {
		padding-left:40px;		

		@include media (max-width, 375px){
			
			padding-left: 25px;
		}
	}

}

.banner_style_2 {

	.banner_subtitle_text {
		font-family: $body-font-family;
		color: $color-white;
		font-size: 14px;
		font-weight: 600;
		line-height: 17px;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		
		@include media (max-width, 1023px){
			color: #777;
			font-size: 12px;
			margin-bottom: 5px;
		}
	}

}

.banner_style_1,
.banner_style_2 {
	

	@include media (max-width,375px){		
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
}