
/* FORMS */
$field-height: 54px;
$field-height-sm: 45px;

::-moz-placeholder{color:#333;opacity:1;}
:-ms-input-placeholder{color:#333;}
::-webkit-input-placeholder{color:#333;}
:focus::-webkit-input-placeholder {opacity:0.3;}
:focus::-moz-placeholder {opacity:0.3;}
:focus:-ms-input-placeholder {opacity:0.3;}

input[type="text"], 
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select {
    color: lighten($color-black, 7%);
    border:0;
    border: 1px solid darken($color-white, 12%);
    height: $field-height;
    padding:15px 20px;
    font-size:16px;
    font-family: $body-font-family;
    margin: 0 0 15px;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;

    &:focus {
        border: 1px solid $color-primary;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .small & {
        height: $field-height-sm;
        padding:10px 25px 10px 10px;
    }
}
input[type="text"], 
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
    background: $color-white;

    &:focus {
        background: $color-white;
    }
}
textarea {
    resize: none;
    height: auto;
}

select {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNMTYuMDAzIDE4LjYyNmw3LjA4MS03LjA4MUwyNSAxMy40NmwtOC45OTcgOC45OTgtOS4wMDMtOSAxLjkxNy0xLjkxNnoiLz48L3N2Zz4=') no-repeat center right 6px /20px 20px;
    padding-right:30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-ms-expand {
        display: none;
    }
}


.radiobox {
    label {
        position: relative;
        padding: 0 40px 0 30px;
        min-height: 30px;
        input {
            position: absolute;
            left: 0;
            opacity: 0;

            & + span {
                display: block;
                padding: 6px 0 0;
                line-height: 1.2;
                &:before {
                    content: "";
                    width: 18px;
                    height: 18px;
                    border:2px solid $color-grey;
                    border-radius: 50%;
                    position: absolute;
                    left: 4px;
                    top:4px;
                }
            }
            &:checked + span {
                &:after {
                    content: "";
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background: $color-secondary;
                    position: absolute;
                    top:4px;
                    left: 4px;
                }
            }
        }

    }

    &.inline {
        label {
            display: inline-block;
        }
    }
}


.checkbox {
    position: relative;
    margin:0 0 30px;

    .ginput_container {
        position: relative;

        [type="checkbox"] {
            position: absolute;
            opacity: 0;
            z-index: 1;

            &:checked {
                + *:before {
                    content: "\2713";
                    background: $color-primary;
                    border-color: $color-primary;
                    color: $color-white;
                }
            }
        }
        .gfield_consent_label {
            position: relative;
            display: block;
            margin: 0;
            padding: 0 0 0 30px;
            line-height: 1.5;
            color: $color-dark;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top:0;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $color-white;
                border: 1px solid $color-grey;
                text-align: center;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}


//Custom Class
.field, .fields {
    position: relative;
    margin-bottom: 14px;
    text-align: left;

    input, select, textarea, select {
        margin-bottom: 0;
    }

    label {
        font-size: 18px;
        line-height: 1;
        color: lighten($color-black, 7%);
        margin-bottom: 10px;;
    }

    [type="checkbox"] + label {
        font-size: 14px;
    }

    &.js {
        label {
            color: lighten($color-black, 50%);
            position: absolute;
            left: 20px;
            top: 22px;
            transition: all 0.2s ease;
            background: $color-white;
            z-index: 1;
            margin-bottom: 0;
        }
        &.focus {
            > label {
                top: 8px;
                font-size: 14px; 
            }
            input, select, textarea, select {
                padding-top: 25px;
                padding-bottom: 8px;
            }
        }
        
        .focus {
            > label {
                top: 8px;
                font-size: 14px; 
            }
            input, select, textarea, select {
                padding-top: 25px;
                padding-bottom: 8px;
            }
        }
    }

    &.error, &.gfield_error {
        position: relative;
        &:before {
            content:"";
            position: absolute;
            left: -10px;
            top:-10px;
            right: -10px;
            bottom: -10px;
            background: rgba($color-alert, 0.3);
            z-index: -1;
        }
        &.js {
            label {
                 color: lighten($color-black, 50%);
            }
        }

        label {
            color: darken($color-alert, 8%);
        }
        input, select, textarea {
            border-color: lighten($color-alert, 20%);
            & + span {
                color: darken($color-alert, 8%);
                font-size: 14px;
                font-weight: bold;
                display: block;
                margin-bottom: -5px;
            }
        }
    }

    .wpcf7-not-valid {
        border-color: darken($color-alert, 8%);
    }
    .wpcf7-not-valid-tip {
        color: darken($color-alert, 8%);
        font-size: 14px;
        display: block;
        margin-bottom: -5px;
    }


}


//For gravity form
.ginput_container_name {
    > span {
        position: relative;
    }
}
.validation_message {
    color: $color-black;
    font-size: 14px;
}

.validation_error {
    font-size: 14px;
    color: $color-primary;
    margin: 0 0 20px;
}


//Gravity form custom
textarea.small {
	height: 150px;
}    
textarea.medium {
	height: 200px;
}    
.fields {
	.ginput_container_name {
		display: flex; 
		margin-left: -15px;
		margin-right: -15px;

		> * {
			flex-basis: 50%;
			margin-left: 15px;
			margin-right: 15px;
		}
	}
}

ul.gform_fields  {
    margin:0 0 10px;
    
    li {
        list-style: none;

        &.hidden_label {
            > label {
                display: none;
            }
        }
    }

    .hidden_sub_label {
        display: none;
    }

    .field {
        .ginput_container {
            span {
                display: block;
                
                + span {
                    margin-top: 15px;
                }
            }
        }
    }
}

.gfield_label,
.hidden_sub_label {
    display: none;
}

.sec_form {
    opacity: 0.9;
    padding: 35px 40px 30px;        
    font-family: $body-font-family;
    
    h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        font-family: $body-font-family;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    p.small {
        font-family: $body-font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.8);

        @include media(max-width,375px) {
            line-height: 1.4;
            font-size: 11px;
        }
    }

    &_light {
        background-color: $color-white;
        .gform_button {
    
            &.button {
                color: $color-dark;

                &:after {
                    color: $color-dark;
                    background-image: url(../img/icn-arrow-r.svg);
                }

                &:hover {
                    color: $color-white;
                    &:after {
                        color: $color-white;
                        background-image: url(../img/icn-arrow-rw.svg);
                    }
                }
                
            }
        }
        @include media(max-width, 1023px){
            padding: 0;
        }

    }
        
    .gform_button {

        &.button {
            background-color:  transparent;
        }
    }

    .gform_footer {
        margin-bottom: 10px;
        padding: 16px;
        border-radius:0;
        border: 2px solid #DB323F;       
        transition: all 0.3s ease;     

        &:hover {
            background-color:  #DB323F;
        }
        
    }

    @include media(max-width, 480px) {
        .gform_footer {
            padding: 0;
            
        }
    }

    .ct_field {

        padding-right: 0!important;
        
        .ginput_container {              
                       
            input,
            select, 
            textarea {
                color: #858689;                    
                margin-top: 12px !important;
                margin-bottom: 0px !important;
                padding: 15px 20px !important;
                background-color: #fff;
                font-size: 20px!important;           
                font-weight: 300;
                font-family: $body-font-family!important;    
                line-height: 1.2;

                &::placeholder{
                    color: #858689;

                }
                
                @include media(max-width, 375px) {
                    font-size: 14px!important;           
                }
            }

            &.ginput_container_address {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                .ginput_address_line_2 {
                    width: 100%;
                }

                .ginput_left, .ginput_right {
                    width: 32.33%;
                    margin-right: 5px;

                    @include media (max-width, 480px){

                    }


                }

                .ginput_address_zip {
                    margin-right: 0;
                }
                
                @include media(max-width, 936px) {
                    .ginput_left, .ginput_right {
                        float: left;
                        width: 50%;
                    }

                    .ginput_left {
                        &.ginput_address_city {
                            margin-right: 8px;
                            padding-right: 2px;                                
                        }
                    }
                    
                    
                    .ginput_right {
                        
                        &.ginput_address_state{
                            margin-right: -8px;
                            padding-right: 8px;  
                        }                         
                    }
                }
            }    
        }
    }
    /*
    @include media (max-width, 1023px){
        margin-left: calc((-100vw - -500px) / 2);
        margin-right: calc((-100vw - -500px) / 2);
    }*/
}