%light-nav{
     background: $color-white !important;
        .navbar {
            .logo {
                display: none !important;
            }

            .logo2 {
                display: block !important;
            }

            .navicon {

                &::before,
                &::after {
                    border-top: 2px solid #DB323F !important;
                }
            }

            .navphone {
                span {
                    color: $color-dark !important;
                }

                &::before {
                    content: url(../img/icn-phone.svg) !important;
                }
            }
        }

        .navmenu {

            .menu {

                >li {

                    &.menu-item {
                        a {
                            color: $color-dark !important;
                        }
                    }

                    &.menu_button {
                        a {
                            color: $color-white !important;
                        }
                    }

                    &.menu_report {

                        a {
                            &::before {
                                content: url('../../resources/img/menu-report.png')!important;
                                width: 21px;
                                height: 21px;
                                padding-bottom: 25px;
                            }
                        }

                    }

                    &.menu_podcast {

                        a {

                            &::before {
                                content: url('../../resources/img/menu-podcast.png')!important;
                                width: 28px;
                                height: 18px;
                                padding-bottom: 25px;
                            }
                        }

                    }
                }
            }

            .navutil {
                .toll-free {

                    span,
                    a {
                        color: $color-dark !important;
                    }

                    a {

                        &:hover {
                            color: darken($color-primary, 0.16) !important;
                        }
                    }
                }
            }
        }
}

%btn_primary_hollow{
    padding: 30px 60px;    
        text-align: center; 
        font-weight: 800;
        color: $color-dark;
        font-size: 16px;
        font-family: $body-font-family;
    
        &:after {
            background-image: url(../img/icn-arrow-rdr.svg);
            content: "";
            background-size: 20px 10px;
            width: 20px;
            height: 10px;
            background-repeat: no-repeat;
            display: inline-block;
            margin-left: 10px;
        }
    
        &:hover {
            color: $color-white;        
            background-color: $color-primary;
    
            &:after {
                background-image: url(../img/icn-arrow-rw.svg);
            }
        }
}
%anim-default{
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  
}

%call-to-action-form{

    padding:50px 0 0;

    .guide_box {
        margin: 0;
    }

    .media figure {
        margin:0;
    }

    .gform_heading {
        display:none;
    }

    .copy {
        padding-right: 70px;

        h2 {
            margin-bottom:30px
        }
        h6 {
            font-size: 14px;
            font-weight:600;
            color: #DB323F;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
        p {
            font-weight: 400;
        }
        .note {
            font-size:12px;
        }
    }
    
    form {
        display: flex;

        .gform_body {
            width: 62%;
            padding-right: 8px;
        }

        .gform_footer {
            width: 270px;
        }

        .button {
            padding: 12px 30px;
            white-space: nowrap;
        }
    }
    
    @media (max-width:1280px) {
        .copy {
            padding-right: 0;
        }
    }
    
    @media (max-width:1023px) {
        padding: 40px 0;

        .copy {
            padding-right: 0;
        }
    }
    
    @media (max-width:767px) {
        form {
            display: block;

            .gform_body {
                width: 100%;
                padding-right: 0;;
            }
            .gform_footer {
                width: auto;
                margin-bottom: 10px;;
            }
        }
        
    }

}