body.home {

    #header {
        .is-at-top {
            .navbar {
                .navicon::before, 
                .navicon::after {
                    border-color: #fff;
                }

                .navphone::before {
                    content: url(../img/icn-phone-light.svg);
                }
            }
        }

        .is-stuck {
            .navbar {
                .navicon::before, 
                .navicon::after {
                    border-color: #DB323F;
                }

                .navphone::before {
                    content: url(../img/icn-phone.svg);
                }
            }
        }
    }

    .hero_banner_wrap {
        &:before {
            background: rgba(0,0,0,0.3);
        }
    }

    .hero_banner {

        h1 {
            font-size: 60px;
            font-weight: 600;
            max-width: 735px;
        }

        .gform_submission_error {
            font: 14px "proxima-nova", sans-serif;
            color: red;
            display:none;
        }
        .gf_home_banner_inline {
            display: flex;
            align-items: flex-start;

            .gform_body {
                flex: 1;
                padding-right: 10px;
            }

            .gform_footer {
                .button {
                    padding: 12px 40px;
                }
            }
        }

        .gfield {
            display: block;
            margin-bottom: 20px;
        }
        
        .gfield .gfield_label {
            display: none!important;
        }

        .gfield input,
        .gfield select  {
            margin-bottom:0;
            padding: 16px 20px !important;
        }

        .gfield .validation_message {
            margin-top: 10px;
            font: 14px "proxima-nova", sans-serif;
            color: red;
        }

        .banner_subtitle_body {
            padding-left: 0;
            font-size: 20px;
        }

        .banner_subtitle_title {
            width: 100% !important;
        }

        .banner_subtitle_text {
            margin-left: -45px;
        }
        
        
        .form_step1 {
            display: flex;

            .gform_page_fields {
                width: 100%;
                padding-right: 10px;
            }

            .gf_house_address {
                input {
                    background-image: url(../img/icn-address-pin.svg);
                    background-position: right 15px center;
                    background-repeat: no-repeat;
                    padding-right: 40px !important;
                }
            }

            .gform_next_button {
                padding: 12px 60px 12px 30px;
                border-radius: 0;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                background-image: url(../img/icn-arrow-rw.svg);
                background-position: right 30px center;
                background-repeat: no-repeat;
                background-size: 20px 10px;
            }
        }
        
        .form_step2 {
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.9);
            padding: 60px 20px;

            > * {
                width: 640px;
                max-width: 100%;
                margin-left: auto;
                margin-right: auto;
            }

            h4 {
                line-height: 1.2;
                color: #fff;
            }

            .xclose {
                position: absolute;
                right: 0;
                top: 0;
                width: 45px;
                height: 45px;
                text-align: center;
                line-height: 45px;
                font-size: 40px;
                background: #000;
                color: #fff;
                cursor: pointer;
            }

            .two_cols {

                > div {
                    display: flex;
                    margin-right: -20px;

                    > * {
                        padding-right: 20px;
                        flex: 1;
                    }
                }
            }
        }

        .gform_previous_button {
            display: none;
        }
        .gform_page_footer {
            position: relative;

            img {
                position: absolute;
                right: 10px;
                top: 20px;
            }
        }
    }
   
    .banner_checklist {
        position: relative;
        padding:40px 0 0;
        margin-right: -20px;

        &:before {
            content: "";
            border-top:1px solid rgba(255,255,255, 0.6);
            border-bottom:1px solid rgba(255,255,255, 0.6);
            position:absolute;
            left: -30px;
            right: -30px;
            height:6px;
            top:0;
        }
        .media_flex {
            padding-right: 10px;
        }
    }
    
    .hero_banner .banner_wrap {
        height: 720px;
        
        .banner_right {
            width: 50%;
        }
    }

    @media (max-width:1470px) {
        .hero_banner .banner_wrap {
            
            .banner_style_1 {
                padding-left: 30px;
            }
        } 
    }

    @media (max-width:1366px) {
        .hero_banner {
            h1 {
                font-size: 40px; 
            }

            .gf_home_banner_inline {
                
                .gform_footer {
                    .button {
                        padding: 12px 15px;
                    }
                }
            }
            
        }
        .banner_checklist {
            flex-flow: wrap;

            .media_flex {
                width: 50%;
                padding-right: 20px;

            }
        }
    }

    @media (max-width:1023px) {

        .hero_banner_wrap {
            min-height: 1px !important;

            .hero_banner {
                 
                figure.bg {
                    height: 450px;
                    position: relative;
                }
                
                .banner_wrap {
                    //height: 450px;
                    height: auto;
                    min-height: 1px !important;
                    flex-flow: wrap;
                    padding: 0;

                    .banner_subtitle_title {
                        color: #161F1E !important;
                        padding: 15px 45px;
                        margin: 0 !important;
                        text-align: left;
                    }

                    .banner_paragraph {
                        display: block;
                        padding: 0 45px 15px;

                        p {
                            color: #555;
                            text-align: left;
                        }
                    }

                    .banner_subtitle_text {
                        background: #1a174e;
                        margin: 0;
                    }

                    .banner_left {
                        display: block;
                        order: 2;
                        padding-top: 50px;
                    }

                    .banner_right {
                        width: 450px;
                        order: 1;
                        height: auto;
                    }

                    .mobile_only {
                        display: none;
                    }
                }
            }
            .banner_checklist:before {
                display: none;
            }
        }
        
        .medium_height_mobile {
            display: none;
            
            .banner_subtitle_body {
                padding-left: 15px;
                padding-right: 15px;

                .banner_subtitle_title,
                .banner_paragraph {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }

            .banner_paragraph {
                &.desktop_only {
                    display: block;

                    p {
                        width: auto;
                    }
                }

                &.mobile_only {
                    display: none;
                }
            }


        }


    }

    @media (max-width:639px) {
        .banner_subtitle_body {
            font-size: 16px;
        }

        .hero_banner_wrap {
            .hero_banner {

                figure.bg {
                    height: 390px;
                }

                .banner_wrap {
                   // height: 390px;

                    .banner_subtitle_title {
                        font-size: 24px;
                        padding: 15px 0 15px 40px;
                    }

                    .banner_paragraph {
                        //display: block;
                        padding: 0 40px 15px;
                        font-size: 16px;
                        line-height: 1.2;
                        margin-bottom: 0;
                    }

                    // .banner_style_1, 
                    // .banner_style_2 {
                    //     padding-left: 20px !important;
                    //     padding-right: 20px !important;
                    // }

                    .banner_left {
                        padding-top: 30px;
                         
                    }

                    .banner_right {
                        width: 340px;
                    }
                }

                .form_step1 {
                    display: block;

                    .gform_page_fields {
                        padding-right: 0;
                    }
        
                    .button {
                        width: 100%;
                    }
        
                    .gform_next_button {
                        padding: 12px 45px 12px 20px;
                        background-position: right 20px center;
                    }
                }
                
                
            }

            .mobile_only {
                display: none;
            }
        }

        .banner_checklist {
            .media_flex {
                width: 100%;
                padding-right: 0;
            }
        }

        .medium_height_mobile {
            margin-top: 30px !important;

            .banner_subtitle_body {
                .banner_subtitle_title {
                    font-size: 24px;
                }
            }
        }
    }

    @media (max-width:375px) {
        .hero_banner_wrap {
            
            .grid-container {
                padding-left: 20px !important;
                padding-right: 20px !important;
            }

            .hero_banner {

                .banner_wrap {

                    .banner_subtitle_title {
                        padding: 15px 0 15px 35px;
                        font-size: 20px;
                    }

                    .banner_paragraph {
                        padding: 0 35px 15px;
                    }
                }
            }
        }

        .banner_style_1, 
        .banner_style_2 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .medium_height_mobile {
            .grid-container {
                padding-left: 20px !important;
                padding-right: 20px !important;
            }

            .banner_subtitle_body {
                .banner_subtitle_title {
                    font-size: 20px;
                }
            }
        }
    }
}



.home_content {
    padding:0;

    h2, h3, h4  {
        line-height:1.1;
    }

    h2 {
        color:#161F1E;
    }
}



.home_seen_in {
    position: relative;

    h6 {
        font-size: 14px;
        font-weight: 600;
        color: #888888;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
    
    .logo_list {
        display: block;

        ul {
            display:flex;
            flex-wrap: nowrap;

            li {
                width: auto;
                align-self: center;
            }
        }
    }
    
    @media (max-width:1023px) {
        padding-top: 20px;

        h6 {
            text-align: center;
        }
        
        .logo_list {
            ul {
                display:flex;
                flex-wrap: wrap;

                li {
                    width: 14% !important;
                    margin:0 !important;
                    padding: 10px;
                }
            }
        }

    }
    @media (max-width:767px) {
        .logo_list {
            ul {
                li {
                    margin: 0;
                    width: 25% !important;

                    figure {
                        justify-content: center;
                    }
                }
            }
        }
    }
}



.home_testimonials {
    position: relative;
    padding: 50px 0 0;

    h2 {
        font-size:56px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    h6 {
        font-size: 14px;
        color: #888888;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        margin-bottom:0;
    }
    .testimonial_block {
        width: auto;
    }
    .testimonial_block_wrap {
        padding-top: 0;
        
    }
    .testimonial_blockitem {
        padding:0 15px;

        figure img {
            width: 100%;
        }
    }

    .slick-slider {
        padding-left:0;
        padding-right:0;
    }
    .slick-dots {
        bottom: 0;

        li.slick-active button:before {
            color: #db323f;
        }
    }
    
    @media (max-width:1023px) {
        .testimonial_block_wrap {
            .grid-container {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .testimonial_block {
                margin: 0;
            }
        }
        

        h2 {
            font-size: 40px;
        }
    }
    
    @media (max-width:639px) {
        h6 {
            margin-bottom: 5px;
        }
        h2 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        .testimonial_block_wrap {
            .testimonial_blockitem {
                padding:0;
            }
        }
    }
}


.home_the_buyers {
    color:#161F1E;
    position: relative;
    padding:100px 0 0;
    overflow: hidden;

    > div {
        position: relative; 

        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-bottom: 1px solid #C4C4C4;
        }
    }

    h2 {
        font-size:56px;
        line-height: 1.18;
        color:#111;
        text-transform: capitalize;
        margin-right: -5px;

        em, strong {
            font-weight: 600;
        }
    }
    h6 {
        font-size: 14px;
        font-weight:600;
        color: #888888;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
    .bg_ribbon {
        background: #1A174E;
        font-size: 25px;
        font-weight: 600;
        line-height:1;
        color:#F8F8F8;
        position: absolute;
        bottom: 100%;
        padding:12px 35px 12px 40px;
        left: -45px;
        text-transform: uppercase;
        &:before {
            content:"";
            position: absolute;
            border-top: 45px solid transparent;
            border-bottom: 45px solid transparent;
            border-right: 20px solid #000A21;
            border-left: 0;
            transform: rotate(-22deg);
            left: 0;
            z-index: -1;
            bottom: -42px;
        }
    }
    
    .copy {
        position: relative;
        padding-top: 10px;

        p {
            margin-right: -5px;
        }
    }
    
    figure.media_video {
        position: relative;
        z-index:1;
        padding:0 0 35px;
        text-align:left;
        margin:0;

        &:before{
            content:'';
            background:#1A174E;
            position:absolute;
            left: -30px;
            right: -30px;
            top: -30px;
            bottom: 0;
            z-index:-1;
        }

        > a {
            position: relative;

            &:before {
                content:"\2023";
                position: absolute;
                width: 80px;
                height: 80px;
                background: #FFFFFF;
                color:#AD131F;
                box-shadow: 0px 14px 24px 10px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
                text-align: center;
                line-height: 80px;
                font-size: 90px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                text-indent: 5px;
            }
        }

        figcaption {
            font-size: 40px;
            color: #fff;
            margin: 0;
            line-height: 1;
            text-align: left;
            font-family: "kepler-std", serif;

            small {
                font-size:10px;
                font-weight:bold;
                color:#DB323F;
                text-transform: uppercase;
            }
        }
    }    
    
    @media (max-width:1490px) {
        .copy {
            padding-left: 20px;
        }
        .bg_ribbon {
            left: -20px;
        }
    }
    
    @media (max-width:1280px) {
        h2 {
            font-size: 40px;
        }
    }
    
    @media (max-width:1023px) {
        .copy {
            padding-left: 35px;
            padding-right: 35px;
            margin-bottom: 50px;

            .wp-block-buttons {
                margin-left: -30px;
                margin-right: -30px;
            }
        }
        .media {
            //margin-left: 25px;
        }
        .media_video img {
            width:100%;
        }
        .bg_ribbon {
            left: -10px;
            width: 100%;
            text-align: center;
        }
    
        figure.media_video {
            
            > a:before {
                width: 50px;
                height: 50px;
                line-height: 50px;
                font-size: 60px;
            }

            figcaption {
                font-size: 32px;
            }
        }
    }
    
    @media (max-width:767px) {
        h2 {
            font-size: 24px;
        }
        h6 {
        }
        .bg_ribbon {
            font-size: 16px;
            padding: 16px 35px;
        }
        figure.media_video figcaption {
            font-size: 24px;
            small {
                font-size:14px;
            }
        }
    }
}

.home_find_home {
    padding: 100px 0 50px;

    h2 {
        font-size:56px;
        line-height: 1;
        color:#111;
        em {
            font-weight: 600;
        }
    }
    h3 {
        font-size: 40px;
        color:#161F1E;
        line-height: 1.18;
        font-weight: 500;

        em {
            font-weight: 600;
        }
    }
    h6 {
        font-size: 14px;
        font-weight:600;
        color: #888888;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    .grid_head {
        margin-bottom: 50px;
    }

    .grid_foot {
        padding-top: 50px;
    }

    .circle_check_list.inline {
        max-width: 680px;
    }
    
    .btn_primary_hollow {
        display:none !important;
    }
    
    div.listing_container {
        margin:0;
        display: block !important;
    }

    div.slick-slider {
        margin:0 -15px 0 0;
        padding:0;
    }

    button.slick-arrow {
        background: none;
        bottom: -50px;
        top: auto;
        left: 10px;
        z-index: 99;

        &:before {
            color:#000;
            font-size:30px
        }
    }

    button.slick-prev{
        &:before {
            content: url('../img/slick-arrow-left.svg');
        }
    }

    button.slick-next {
        margin-left:32px;

        &:before {
            content:url('../img/slick-arrow-right.svg');
        }
    }
    
    
    @media (max-width:1023px) {
        
        h2 {
            font-size: 40px;
        }
    
        .cell {
            margin-left: auto;
        }
        .button_hollow, 
        .button_hollow a {
            width:100%;
        }
        .listings_nav_header {
            display:none;
        }
        
        h3 {
            font-size: 30px;
            margin-bottom: 20px;
        }
        h3 br {
            //display: none;
        }
        .circle_check_list.inline {
            max-width: none;
            margin-bottom: 30px;
        }
        .call_carol {
            justify-content: center;
        }
        .grid_foot {
            padding-top: 25px;
        }
        
        div.slick-slider {
            margin:0;

            .col-item {
                padding: 0;
            }
        }
    }
    @media (max-width:767px) {
        h2 {
            font-size: 24px;
        }
        h2 br {
            display: none;
        }
        
        button.slick-arrow {
            display:block !important;
        }

        .call_carol {
            font-size: 30px;
        }

        div.listing_container {
            position: relative;
            padding-bottom: 15px;
            margin-bottom: 40px;

            &:after {
                content: "";
                position: absolute;
                left: 0;
                right: 90px;
                bottom: 0;
                border-bottom: 1px solid #999;
            }
        }
        button.slick-arrow {
            left: auto;
            right: 0;
            bottom: -42px;
        }
    
        button.slick-prev{
            right: 35px;
        }
    
    }

    @media (max-width:639px) {
        h3 {
            font-size: 20px;

            br {
                display: none;
            }
        }

        .grid_foot > .cell:first-child {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
}

 


.home_free_guide {
    padding:50px 0 0;

    .guide_box {
        margin: 0;
    }

    .media figure {
        margin:0;
    }

    .gform_heading {
        display:none;
    }

    .copy {
        padding-right: 70px;

        h2 {
            margin-bottom:30px
        }
        h6 {
            font-size: 14px;
            font-weight:600;
            color: #DB323F;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }
        p {
            font-weight: 400;
        }
        .note {
            font-size:12px;
        }

        @include media(max-width, 1023px){
            
            h6 {
                font-size: 16px;
            }
            .note {
                font-size: 14px;
            }
        }
    }
    
    form {
        display: flex;

        .gform_body {
            width: 62%;
            padding-right: 8px;
        }

        .gform_footer {
            width: 270px;
        }

        .button {
            padding: 12px 30px;
            white-space: nowrap;
        }
    }
    
    @media (max-width:1280px) {
        .copy {
            padding-right: 0;
        }
    }
    
    @media (max-width:1023px) {
        padding: 40px 0;

        .copy {
            padding-right: 0;
        }
    }
    
    @media (max-width:767px) {
        form {
            display: block;

            .gform_body {
                width: 100%;
                padding-right: 0;;
            }
            .gform_footer {
                width: auto;
                margin-bottom: 10px;;
            }
        }
        
    }
}



.home_referrals {
    background:#F7F7F7;
    padding: 100px 0 80px;

    h2 {
        font-size:56px;
        margin-bottom: 40px;
        text-transform: capitalize;

        em, strong {
            font-weight: 600;
        }
    }
    h6 {
        font-size: 14px;
        font-weight:600;
        color: #777777;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }
    
    @media (max-width:1280px) {
        h2 {
            font-size:40px;
        }
    }
    
    @media (max-width:1023px) {
        h2 {
            font-size: 32px;
        }

        .copy {
            padding-left: 30px;
            padding-right: 30px;
        }

        .media figure {
            margin-bottom: 30px;

            img {
                width: 100%;
            }
        }
        
    }
    
    @media (max-width:1023px) {
        padding: 70px 0 40px;
    }
    
    @media (max-width:767px) {
        h2 {
            font-size: 24px;
        }
    }
}




.home_quick_links {
    background:#F7F7F7;
    padding: 80px 0 0;  

    h6 {
        font-size: 14px;
        font-weight:600;
        color: #777777;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    .quick_item {
        background:#fff;
        border:1px solid #E5E5E5;
        padding:50px;
        margin-bottom: -80px;

        figure {
            margin-bottom: 10px;
            min-height: 45px;

            img {
                max-height: 45px;
            }
        }
        
        h6 {
            color:#999999;
            font-weight: 400;
            min-height: 40px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 48px;
            min-height: 105px;
        }
    }
    
    .wp-block-button__link {
        border: 0;
        padding: 5px;
        font-size: 35px;
        color:#DB323F !important;
        line-height: 1;
    }
    
    @media (max-width:1280px) {
        h6 {
            font-size: 14px;
        }
        .quick_item {
            padding: 30px 25px;
        }   
    }
    
    @media (max-width:1023px) {
        padding:40px 0;

        .quick_item {
            margin-bottom: 20px;

            h6 {
                min-height: 1px;
            }
            h2 {
                font-size: 32px;
                min-height: 1px;
            }
            figure {
                margin-bottom: 30px;
            }
        }
    }
    
    @media (max-width:767px) {
        .quick_item {
            h2 {
                font-size: 24px;
            }
        }   
    }
}



.home_our_team {
    padding:130px 0 120px;
    color:#777;

    h3 {
        font-size:40px;
        font-weight: 400;
        color:#111111;

        strong {
            font-weight: 600;
        }
    }

    h6 {
        font-size: 14px;
        font-weight:400;
        color: #777777;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    .team_box {
        background:#fff;
        border:1px solid #E5E5E5;
    }

    .copy {
        padding: 50px 60px;
    }

    .media {
        margin-left: auto;
        figure {
            margin:0;

            img {
                width: 100%;
            }
        }
    }
    
    .wp-block-button__link {
        border: 0;
        padding: 5px;
        font-size: 35px;
        color:#DB323F !important;
        line-height: 1;
    }
    
    @media (max-width:1023px) {
        padding: 60px 0;

        .copy {
            padding: 30px;
        }
    }
    
    @media (max-width:767px) {
    
        h3 {
            font-size: 24px;
        }
        .copy {
            padding: 25px;
        }
    }
}




.home_news_update {
    position: relative;
    background:#F1F1F1;
    padding: 100px 0 50px;

    
    h6 {
        font-size: 14px;
        font-weight:600;
        color: #DB323F;
        text-transform: uppercase;
        letter-spacing: 0.2em;
    }

    .blog_news_slider {

        &.slick-slider {
            margin:50px -30px 0 0;
            padding:0;
        }

        .news_item {
            background:#fff;
            border:1px solid #E5E5E5;
            padding:0 40px 50px;
            margin:0 30px 30px 0;
            flex-basis: auto !important;

            h3 {
                font-size:24px;
                min-height: 80px;
                margin: 0;

                a {
                    color:#111;
                }
            }

            h6 {
                color: #999999;
                margin-bottom: 10px;

                a {
                    color: #999999;
                }
            }
            figure {
                margin:0 -40px 20px;
                height: 250px;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        
        button.slick-arrow {
            background: none;
            bottom: -50px;
            top: auto;
            left: 10px;
            z-index: 99;

            &:before {
                color:#000;
                font-size:30px
            }
        }
        button.slick-prev{
            &:before {
                content:url('../img/slick-arrow-left.svg');
            }
        }
        button.slick-next {
            margin-left:32px;

            &:before {
                content:url('../img/slick-arrow-right.svg');
            }
        }
    }

    @media (max-width:1023px) {
        padding: 60px 0 40px;
    }
    
    @media (max-width:767px) {

        .blog_news_slider {
            overflow: hidden;

            .slick-list {
                width: 88%; 
                overflow: visible;
            }
        }
        
    }
    
    @media (max-width:639px) {
        h6 {
            font-size: 14px;
            font-weight: 400;
        }
    
        .blog_news_slider {
            
            .news_item {
                padding: 0 25px 30px;
                margin:0 20px 20px 0;

                figure {
                    margin: 0 -25px 20px;
                }

                h3 {
                    min-height: 45px;
                    font-size: 16px;
                    line-height: 1.4;
                }
            }
        }

    }
}
