
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

h1.page_title {
    display: none;
}

.page-content {
    position: relative;
    /* padding: 80px 30px; 

    @include media(max-width,1023px){
        padding: 0 20px 80px;
    }
        */  
}
.grid-container{
    position: relative;
}
.wp-block-columns {
    padding: 80px 30px;
    width: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    padding-right: 0;
    padding-left: 0;
    flex-direction: unset;
    max-width: 1490px;
    margin-left: auto;
    margin-right: auto;

    @include media(min-width,1024px){
        padding: 30px !important;
    }

    @include media(max-width,1023px){
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: stretch;
        align-content: space-around;
        padding: 30px !important;
    }

    
    @include media(max-width,480px){
        flex-wrap: wrap;
    }

    &.ct_padding_top_0 {
        padding-top: 0;
    }
}

.ct_
.address_boxes {
    margin-top: -4px;
}

.section_subtitle{
    font-family: $body-font-family;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.2em; 
    text-transform: uppercase;

    @include media (max-width,768px){
        font-size: 12px;
    }
}

.sec_column_item {
    padding: 0 20px 90px;

    h1, h2, h3, h4, h5, h6 {

        font-family: $heading-font-family;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        text-transform: capitalize;
        margin-bottom: 0;
        
    }
    
    p, ul li { 
                
        font-size: 18px;
        line-height: 1.5;
        color: #777777;
        font-family: $body-font-family;
        font-style: normal;

        @include media(max-width, 375px) { 
            font-size: 14px;
        }
        
        &.small {
            font-size: 14px;
            letter-spacing: 0.02em;  
        }
    }

    ul li{
        margin-bottom: 5px;
    }

    h2 {        
        font-size: 48px;
        color: #161F1E;
    }

    .required {
        color: $color-warning;
    }
    
    @include media(max-width, 768px) {
        .col-item {
            padding: 0;
        }
    }

    .cols2-s2{

        @include media (max-width, 1023px){
            padding: 0 !important
        }
    }
    
    .sec_body {

        width: 80%;

        .text_header{        
            padding-bottom: 40px;

            .sec_title {
                
                h2.title {
                    text-align: left;
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 30px;
                    

                    @include media(min-width, 376px ){
                        font-size: 30px;
                    }

                }

                .subtitle {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 14px;
                    letter-spacing: 0.3em;
                    text-align: left;     
                    text-transform: uppercase;   
                    color: #777777;
                    margin-bottom: 5px;
                    
                    @include media(min-width, 376px){
                        font-size: 14px;
                    }

                }

                @include media(min-width, 1024px){
                    display: none;
                }
                
            }          

            @include media(max-width, 768px) {
                padding-bottom: 20px;
            }
        }

        .text_wrap{

            margin-top:10px;
            margin-bottom: 20px;
            margin-left: 10px;

            h3{                    
                font-size: 32px !important;
                font-weight: 400 !important;
                font-family: $heading-font-family;
                

                @include media(max-width, 375px) { 
                    font-size: 16px !important;
                    line-height: 1.5 !important;
                }
            }
                        
            @include media(max-width, 768px) {
                margin-bottom: 10px;
            }
        }  

        .media_flex {
    
            .icon_wrapper {
                width: 48px;
                height: 48px;
                border: 2px solid #DB323F;
                box-sizing: border-box;
                border-radius:50px;
                margin-right: 10px;
                margin-top: 11px;

                @include media(max-width, 768px) {
                    width: 40px;
                    height: 40px;
                }

                img {                    
                    margin: 10px 15px;
                    width: 14px;

                    @include media(max-width, 375px) {
                        margin: 7px 12px;
                        width: 12px;
                    }
                }
            }
        }
        @include media(max-width, 1023px) {
            padding: 50px 40px;
            width: 100%;
        }

        @include media(max-width, 375px) {
            
            padding: 36px 40px;

            .text_header {
                h2 {
                    font-size: 20px;
                    line-height: 1.4;
                }
                p {
                    font-size: 14px !important;
                    line-height: 1.4;
                }
            }
        }

    }

    &.column_template_2{

        padding-top: 60px;
        
        h5 {
            font-size: 20px;
        }

        .sec_body {
            width: 100%;

            .text_header {
                p {
                    font-size: 20px;
                }
            }

            .media_flex {

                margin-bottom: 65px;

                .media_body {

                    h3 {
                        font-size: 32px !important;
                        margin-bottom: 18px;
                        font-family: $heading-font-family;

                        @include media(max-width, 375px){
                            font-size: 24px !important;
                            line-height: 1.5 !important;
                        }
                    }

                    .icon_wrapper {
                        width: 65px;
                        margin-bottom: 20px;
                        border: 0;
                        
                        img {                            
                            width: 65px;
                            margin: 0;
                        }
                    }
                }
                    
                @include media(max-width,1023px){
                    margin-bottom: 40px;
                }



            }

            @include media(min-width,1024px) {
                padding-right: 20px;
            }

            @include media(max-width,1023px){
                padding: 30px;
            }  
        }
        
        
    }

    @include media(max-width, 1023px){
        width: 100%;
    }

    @include media(max-width, 375px){
        padding: 30px;
    }
    
    .grid-container {
        .grid-margin-x {

            > .cell {
                padding-left: 45px !important;                

                @include media(max-width, 1024px){
                    padding-left: 0px !important;
                    margin-right: 0 !important;
                }

                @include media(max-width, 375px) {
                    /*width: 100% !important;    */ 
                }

            }
        }


    }

    @include media(max-width, 1023px){
        padding: 0 20px 0px;
         
    }
          

    &.column_template_1{

        @include media(max-width, 1023px){
            width: 100%;
            
            .column_left {
                order: 2;
            }

            .column_right {
                order: 1;
            }
        }

    }   

}

.column_template_2 {

    .hero-block_desktop {  

        .text_header{        
            padding-bottom: 40px;

            .sec_title {
                
                h2.title {
                    text-align: left;
                    font-size: 24px;
                    line-height: 32px;
                    margin-bottom: 30px;                        

                    @include media(min-width, 376px ){
                        font-size: 30px;
                    }

                }

                .subtitle {
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 14px;
                    letter-spacing: 0.3em;
                    text-align: left;     
                    text-transform: uppercase;   
                    color: #777777;
                    margin-bottom: 5px;
                    
                    @include media(min-width, 376px){
                        font-size: 14px;
                    }

                }
                
            }     
        }

        .text_wrap{

            margin-top:10px;
            margin-bottom: 20px;
            margin-left: 10px;

            h3{                    
                font-size: 32px !important;
                font-weight: 400 !important;
                font-family: $heading-font-family;
                

                @include media(max-width, 375px) { 
                    font-size: 16px !important;
                    line-height: 1.5 !important;
                }
            }
                        
            @include media(max-width, 768px) {
                margin-bottom: 10px;
            }
        }  
    }
}
    
@include media(max-width,375px) {
    .sec_column_item, .grid-container {
        padding: 0 !important;
        margin: 0 !important;
        
    }
}

.sec_info_wrap {

    padding: 30px 35px; 

     .grid-container {
        .grid-margin-x {

            > .cell {
                position: relative;
                padding-left: 45px !important;                

                @include media(max-width, 1024px){
                    padding-left: 0px !important;
                }

                @include media(max-width, 375px) {
                    margin-right: 0;
                }

            }
        }


    }

    @include media(min-width,1024px) {
        display: none;
    } 

}

.info_boxes {
    
    @include media(max-width,1023px) {
        margin-left: 0;
        margin-right: 0;
    }
}

.info_box {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #DB323F;
    color: #161F1E;
    padding: 15% 8%;
    text-transform: uppercase;
    display: block;
    cursor: pointer;

    &:hover {
        background: $color-primary;
        color: $color-white;
        .icon_wrapper {            
                
            &::before {						
                content: url(../img/icn-phone-white-large.svg);
            }	
        }
    }   

    .icon_wrapper {
        margin-bottom: 7px;

        img {
            width: 40px;
            margin-bottom: 5px;
            
			img {
				width: 31px;
			}

            @include media(max-width,480px) {
                width: 20px;
            }
        }
			
        &::before {						
            content: url(../img/icn-phone-darkred.svg);
        }	
    }

    .address {
        font-size: 16px;
        font-weight: 700;
        line-height: 13px;
        line-height: 1.2;

        @include media(max-width,375px){
            font-size: 12px !important;
        }

        @include media(max-width,480px){
            font-size: 16px;
        }
    }

    .phone {
        font-size: 30px;
        font-weight: 600;
        line-height: 1.2;
        @include media(max-width,375px){
            font-size: 18px !important;
        }

        @include media(max-width,480px){
            font-size: 22px;
        }
    }
    
}


.about_template { 

    .sec_title {
        @include media(min-width,1024px) {
            display: none;
        }  
    }
}

.sec_form {
    opacity: 0.9;
    padding: 35px 40px 30px;        
    font-family: $body-font-family;
    
    h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        font-family: $body-font-family;
        text-align: center;
        color: #FFFFFF;
    }

    p.small {
        font-family: $body-font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.8);

        @include media(max-width,375px) {
            line-height: 1.4;
            font-size: 11px;
        }
    }

    &_light {
        .gform_button {
    
            &.button {
                color: $color-dark;

                &:after {
                    color: $color-dark;
                    background-image: url(../img/icn-arrow-r.svg);
                }

                &:hover {
                    color: $color-white;
                    &:after {
                        color: $color-white;
                        background-image: url(../img/icn-arrow-rw.svg);
                    }
                }
                
            }
        }
        @include media(max-width, 1023px){
            padding: 0;
        }

    }
        
    .gform_button {

        &.button {
            background-color:  transparent;
        }
    }

    .gform_footer {
        padding: 16px;
        border-radius:0;
        border: 2px solid #DB323F;       
        transition: all 0.3s ease;     

        &:hover {
            background-color:  #DB323F;
        }
        
    }

    @include media(max-width, 480px) {
        .gform_footer {
            padding: 0;
            
        }
    }

    .ct_field {

        padding-right: 0!important;
        
        .ginput_container {              
                       
            input,
            select, 
            textarea {
                color: #858689;                    
                margin-top: 12px !important;
                margin-bottom: 0px !important;
                padding: 15px 20px !important;
                background-color: #fff;
                font-size: 20px!important;           
                font-weight: 300;
                font-family: $body-font-family!important;    
                line-height: 1.2;

                &::placeholder{
                    color: #858689;

                }
                
                @include media(max-width, 375px) {
                    font-size: 14px!important;           
                }
            }

            &.ginput_complex.ginput_container_address {

                .ginput_address_zip {
                    margin-right: 0 !important;
                    padding-right: 0 !important;
                }

                .ginput_left, .ginput_right {
                    width: 33.33%;
                    margin-right: 0 ;
                }
                
                @include media(max-width, 480px) {
                    .ginput_left, .ginput_right {
                        float: left;
                        width: 50%;
                    }

                    .ginput_left {
                        &.ginput_address_city {
                            margin-right: 8px;
                            padding-right: 2px;                                
                        }
                    }
                    
                    
                    .ginput_right {
                        
                        &.ginput_address_state{
                            margin-right: -8px;
                            padding-right: 8px;  
                        }                         
                    }
                }
            }    
        }
    }
}

.media_flex {

    display: flex;            
    align-content: flex-start;
    align-items: flex-start;

    .media_left {
        padding-right: 10px;        
    }
    
    .media_body {
        width: auto;
        
        h3 {
            font-size: 13px !important; 
            font-weight: 300 !important;
        }
    }
}

.banner_form_wrap {   

    margin-top: 0;
    .gform_footer {
        margin-top: 0 !important;
    }

    .gform_button {
    
        &.button {
            background: $color-primary;
        }
    }
}

.gform_button, 
.primary_button {

    &.button,
    a {
        width: 100% !important;
        min-width: 100% !important;
        font-family: $body-font-family;
        font-size: 16px;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
        font-weight: 800;
        text-align: center;
        margin: 0 !important; 
        border-radius: 0;

        &:after {            
            content: "";
            background-size: 20px 10px;
            width: 20px;
            height: 10px;
            background-repeat: no-repeat;
            background-image: url(../img/icn-arrow-rw.svg);
            display: inline-block;
            margin-left: 10px;
        }
    }
}

.primary_button {
    padding: 20px 0;

    &.is-style-outline {
                
        a {

            text-shadow: none;
            border: 2px solid $color-primary !important;
            padding: 30px 0;            

            &:after {            
                color: $color-dark;
                background-image: url(../img/icn-arrow-r.svg);
            }

            &:hover {
                background-color: $color-primary !important;
                color: $color-white;

                &:after {            
                    color: $color-white;
                    background-image: url(../img/icn-arrow-rw.svg);
                }
        
            }
                
        }          
        
    }

    &.is-style-fill {
        
        a {

            text-shadow: none;
            background-color: $color-primary !important;

            &:after {            
                color: $color-white;
                background-image: url(../img/icn-arrow-rw.svg);
            }

            &:hover {
                color: $color-black;
                border: 2px solid $color-primary !important;
                background-color: transparent !important;

                &:after {            
                    color: $color-primary;
                    background-image: url(../img/icn-arrow-r.svg);
                }
        
            }
                
        }          
        
    }

    &.find_more {        
        padding: 30px 0;            
    }
    
    @include media(min-width, 1024px){
        &.find_more {
            width: 60% !important;
        }
        margin: 0 auto !important;
        a {
            padding: 20px 0;
        }
    }

    
}

.wp-block-embed__wrapper {
    iframe {
        width: 100%;
        height: 400px;
        
        @include media(max-width, 1023px){
            height: 300px;
        }
        
        @include media(max-width, 375px){
            height: 200px;
        }
    }
}

.ct_margin_bottom_40 {
    figure {
        margin-bottom: 3em !important;

        @include media(max-width,375px){
            
            margin-bottom: 5em !important;
        }
    }
}

.icon_blurb {

    .has-text-align-left {
        
        img {
            margin-right: 15px;
        }

    }
    
    @include media (max-width, 1023px){
        padding-left: 20px;
        padding-right: 20px;
    }
}


.social_icons_wrap {
    .wp-block-group__inner-container {        
        display: flex;
        flex-wrap: nowrap;
        figure{
            &.wp-block-image:not(:last-child){
                margin-right: 25px;
            }

        }
    }
    
}


.desktop_only {
    display: block;
    
    @include media (max-width, 1023px){
        display: none;
        &.sec_info_wrap {
            padding-top: 0 !important;
        }
    }
}


.mobile_only {
    display: none;
    
    @include media (max-width, 1023px){
        display: block;
        &.sec_info_wrap {
            padding-top: 0 !important;
        }
    }
}



.acf-map {
    width: 100%;
    height: 600px;

    .branch_img {
        width: 300px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .branch_caption {
        padding: 10px 20px;
        
        h3 {
            font-size: 14px;
            font-weight: 600;
    
        }
        p {
            font-family: "Lato";
            font-size: 12px;
            line-height: 1.4;
            &.phone {
                font-weight: 700;
                font: 14px;
            }
        }

    }

}



//slick
.slick-track {
    display: flex !important;
}

.gMap_wrap {
    padding-bottom: 5%;

    hr {
        background-color: #999999;
        color: #999999;
        left: 135px;
        position: relative;
        width: 85%;
        margin-left: 0;
        @include media (max-width, 1023px ){
            display: none;
        }
    }
}

.branch_wrap{

    cursor: pointer;
    transition: all 0.3s ease; 
    justify-content: space-between;    
    padding-top: 30px !important;
    border-bottom: 3px solid #fff;

    a{
        
        color: #333333;
    }

    &.slick-slide {
        height: inherit !important; 	
        display: flex !important; 	
        justify-content: center; 	
        align-items: center;
        align-items: flex-start;
    }
    .branch_title {
        font-size: 24px;
    }
    
    .branch_address {
        font-weight: 300;
        font-family: "Lato";
        font-size: 18px;
        line-height: 2em;
    }

    .branch_phone {
        font-weight: 700;
        font-family: "Lato";
        font-size: 18px;
        line-height: 1.6;
    }

    &.isNot-active {
        background:$color-white;        
    }
    
    &:hover,
    &.slick-current {
        background: #f1f1f1;
        border-bottom: 3px solid #f1f1f1;
    }

    &:active,
    &.is-active {
        background: #2C3837;
        border-bottom: 3px solid $color-primary;
        color: $color-white;
    }

}
.slick-arrow {
    @include media (max-width, 1023px ){
        display: none !important;
    }

    &.arrow_prev,
    &.arrow_next  {
        font-size: 0;
        background-size: 22px 27px;
        background-repeat: no-repeat;
        background-position: center;
        bottom: -50px;
        top: auto !important;
        /*
        &:before{
            display: inline-block;
            color: #111111;
            -webkit-font-smoothing: antialiased;
            font: normal 14px/1 'dashicons';
        }*/
    }
    
    
    &.arrow_prev {
       /*&:before{
            content: "\f340";
        }*/    
        left: 50px;
        background-image: url(../img/icn-arrow-l.svg);
    }
    
    &.arrow_next {
        /*&:before{
            content: "\f344";
        }*/
        left: 90px;
        background-image: url(../img/icn-arrow-r.svg);
    }
}

.block_checklists {

    .wp-block-columns {
        padding: 0!important;
        margin-bottom: 0!important;
    }

    .wp-block-media-text {
        grid-template-columns: 9% auto !important;

    }
    @include media (max-width, 1023px){
        .wp-block-media-text {
            display: flex !important;
    
        }
        .wp-block-column {
            width: 100%;
        }
    }
}

ul.star-rating li i {
    color: #FEAC0C;
    background: linear-gradient(15deg, #FEAC0C 0%, #FEAC0C 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
}

.field_type-star_rating_field ul.star-rating {
    font-size: 14px !important;

}

.testimonial_block_wrap {

    padding: 30px 0;

    .testimonial_block {
        width: 100%;
    }
    .slick-dots{
        position:relative !important;
    }
    .testimonial_blockitem {
        padding: 0 20px;
        width: 100%;

        .testimonial_body {
            display: flex;
            flex-direction: row;
            align-content: flex-start;
            flex-wrap: nowrap;
            justify-content: space-between;
            
            .testimonial_vbtn {
                width: 30%;
                cursor: pointer;
                height: 100px;
                background-color: #AD131F;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                align-content: center;
                cursor: pointer;

                span {
                    color: $color-white;
                    font-weight: 800;
                    text-transform: uppercase;
                    font-size: 14px;
                }
                
                @include media (max-width, 768px){
                    width:100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    height: 30px;

                    figure {
                        padding-right: 10px;
                        
                        img {
                            width: 15px;
                        }
                    }
                    span {
                        font-size: 10px;
                    }
    
                }
            }
            .testimonial_info {
                width: 70%;
                background-color: $color-white;
                position: relative;
                top: -60px;
                border: 1px solid #E5E5E5;
                padding: 15px 20px; 

                h3 {
                    font-size: 14px;
                    font-style: italic;
                    font-weight: 600;
                    line-height: 1.2;
                }

                p{
                    line-height: 1.2;
                    color: #777;
                    font-size: 11px;
                    margin-bottom: 5px;

                    &.testimonial_name {
                        font-size: 13px;
                        font-weight: 700;
                        color: #111111;
                    }
                }
                @include media (max-width, 768px){
                    top: 0;
                    width:100%;
                }
            }
            @include media (max-width, 768px){
                justify-content: space-between;
                flex-direction: column;
                align-content: space-around;
                align-items: center;
            }
        }
        
    }

}


.call_to_action_form {
    figure {
        position: absolute;
        bottom: 0;
        
        @include media (max-width, 1023px){
            display: none;
        }
    }
}

.client_logos {
    @include media (max-width, 1023px){
        display: none;
    }
}

.column_bottom {

    margin-bottom: 0  !important;
    padding-bottom: 0  !important;

    @include media (max-width, 1023px){
        .wp-block-columns {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }
    .img {
        margin-bottom:0px !important;
        position: relative;
        img {                
            z-index: 1;
            position: absolute;
            bottom: -2px;
            right: 1%;
            @include media (max-width, 1023px){
                position: relative;
            }
        }
    }

    .cta_block {
        @include media (max-width, 768px){

            .call_carol_col {
                flex-basis: 20% !important;
            }

            .call_carol {
                font-size: 16px;
            }

            .call_carol_num {
                            
                flex-basis: 85% !important;
                margin-left: 12px !important;
                p{
                    font-size: 4em;
                }
            }
            
        }
        @include media (max-width, 1023px){

            .call_carol_col {
                flex-basis: 20% !important;
            }

        }
        @include media (max-width, 480px){

            .call_carol_col {
                flex-basis: 23% !important;
            }

            .call_carol_num{
                            
                flex-basis: 85% !important;
                margin-left: 12px !important;
                p{
                    font-size: 2em;
                }
            }
            
        }
    }
}


.sell_your_home_page {
    
    .block_checklists {
        @include media(max-width,1023px){
            padding:0 30px !important;
        }
        .icon_wrapper {
            border: 2px solid $color-black !important;
        }

    }

    @include media(max-width,480px){
        padding: 30px !important;
    }
    
    @include media(min-width,1024px){
        &.ct_padding_both_0 {
            padding: 30px !important;
        }
    }
}

// wpsl

img.wpsl-store-thumb.wp-post-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.gm-style-iw {
    max-width: 320px!important;
    padding: 0px !important; 
}

.gm-style-iw-d {
    overflow: auto!important;
}

.location_info{
    padding: 10px 20px;
    
    h3 {
        font-size: 14px;
    }
}

#map {
    height: 100%;
    min-height: 600px;
    overflow-anchor: none;
    
    .loc_img {
        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .loc_body {

        padding: 10px 20px;

        h2,
        p {
            margin-bottom: 5px;

        }

        h2.office_map_title {
            font-size: 14px;
        }
        p {
            font-family: "Lato";
            &.office_phone {
                font-weight: 600;
            }
        }

    }
}

.wp-block-video,
.wp-block-embed { 

}

@include media (min-width, 1024px){
    .wp-block-column:not(:first-child) {
        /* margin-left: 6em !important; */
    }
    .address_boxes .wp-block-column:not(:first-child) {
        margin-left: 0 !important;
    }

}

@include media (max-width, 1023px){
    .wp-block-column {
        /* margin-top: 30px; */
    }
    .wp-block-column:not(:first-child) {
        margin-left: 0 !important;
    }

}

@include media(max-width, 1023px){
    
    .column_invert_left {
        order: 2;
    }

    .column_invert_right {
        order: 1;
    }
}